body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
}

/*Heading Section */
.big_heading {
  font-family: 'Montserrat', sans-serif;
  size: 3.5em;
  line-height: 1.5;
  font-weight: 900;
}

.section_heading {
  font-size: 3em;
  line-height: 1.5;
  font-weight: 600;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored_section {
  background-color: #ff4c68;
  color: #fff;
}

.white_section {
  background: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-nav {
  padding-right: 7%
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2em;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2em;
  font-family: "Montserrat";
  font-weight: 400;
}

/* Download Buttons */
.download_button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */
.title_img {
  width: 40%;
  transform: rotate(30deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title_img {
    position: static;
    transform: rotate(0);
  }
}

/* Features Section */
#features {
  position: relative;
}

.feature_box {
  padding: 5%;
}

.feature_title {
  font-size: 1.5em;
}

.icon {
  color: #ef8172;
  margin-bottom: .25em;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimontial Section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial_img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial_text {
  font-size: 3em;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press_logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing_column {
  padding: 3% 2%;
}

.price_text {
  font-size: 3em;
  line-height: 1.5;
}

.plan_type {
  font-size: 2em;
  font-weight: 600;
}

/*Footer Section */
.social_icon {
  margin: 20px 10px;
}
